{% extends 'base.html.twig' %}

{% block title %}Balades{% endblock %}

{% block body %}
  <section id="balade">
    <div class="container">

        <h1>Balades</h1>

        <a href="{{path ('app_balade_form')}}" class="btn">Créer une balade</a>

        <div class="balade-container">
            {{ include('partials/_balade_cards.html.twig') }}
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
    <script>
        document.querySelectorAll('.card-dropdown-btn').forEach(btn => {
            btn.addEventListener('click', (e) => {
                e.stopPropagation();
                e.preventDefault();

                // Ferme tous les autres
                document.querySelectorAll('.card-dropdown-menu.open').forEach(menu => {
                    if (menu !== btn.nextElementSibling) {
                        menu.classList.remove('open');
                    }
                });

                btn.nextElementSibling.classList.toggle('open');
            });
        });

        // Ferme au clic ailleurs
        document.addEventListener('click', () => {
            document.querySelectorAll('.card-dropdown-menu.open').forEach(menu => {
                menu.classList.remove('open');
            });
        });
    </script>
{% endblock %}