<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Snapshot</title>
  <style>
    html, body { margin:0; padding:0; }
    #map { width: 800px; height: 450px; }
  </style>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
</head>
<body>
  <div id="map"></div>

  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <script>
    const route = {{ balade.routeGeoJson|json_encode|raw }};

    const map = L.map('map', { zoomControl:false, attributionControl:false });
    L.tileLayer( 'https://data.geopf.fr/wmts?REQUEST=GetTile&SERVICE=WMTS&VERSION=1.0.0&STYLE={style}&TILEMATRIXSET=PM&FORMAT={format}&LAYER=GEOGRAPHICALGRIDSYSTEMS.PLANIGNV2&TILEMATRIX={z}&TILEROW={y}&TILECOL={x}', { attribution: '<a target="_blank" href="https://www.geoportail.gouv.fr/">Geoportail France</a>', bounds: [[-75, -180], [81, 180]], maxZoom: 18, format: 'image/png', style: 'normal' } ).addTo(map)

    try {
      if (route && route.geometry) {
        const layer = L.geoJSON(route, {
            style: () => ({
                weight: 6,
                opacity: 0.95,
                color: '#2E7D32'
            })
        }).addTo(map);
        map.fitBounds(layer.getBounds(), { padding: [8,8], maxZoom: 16 });
      } else {
        map.setView([48.8566, 2.3522], 13);
      }
    } catch (e) {
      console.error(e);
      map.setView([48.8566, 2.3522], 13);
    } finally {
      window.__SNAPSHOT_READY__ = true;
    }
  </script>
</body>
</html>