@font-face {
    font-family: "cormorant";
    src: url(../../fonts/cormorant/Cormorant-VariableFont_wght.ttf);
}

@font-face {
    font-family: "lato regular";
    src: url(../../fonts/lato/Lato-Regular.ttf);
}