{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <section id="register-form">
        <div class="container">
            {{ form(form) }}
        </div>
    </section>
{% endblock %}