@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;


.card-link {
    color: v.$text-title-color;
    text-decoration: none;
}
.balade-card {
    border-radius: 16px;
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
    padding: 20px;
    width: 350px;

    .balade-top {
        .balade-title {
            font-family: v.$font-title;
            font-size: v.$font-title-size-h2;
            margin-bottom: 1rem;
            
            a {
                color: v.$text-title-color;
                text-decoration: none;
            }
        }

        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 18px;
            border: 1px solid v.$primary-color;
            margin-bottom: 1rem;
        }

        p {
            font-family: v.$font-text;
            font-size: v.$font-text-size;
            color: v.$text-p-color;
            margin-bottom: 0.5rem;

            .text-meta {
                font-weight: 700;
            }
        }
    }
}